autostart/
BraveSoftware/
caffeine/
dconf/
discord/
evolution/
gedit/
ghc/
.git/
gnome-appfolders-manager/
gnome-boxes/
gnome-layout-switcher.conf
gnome-session/
GNOME-xdg-terminals.list
goa-1.0/
.gsd-keyboard.settings-ported
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
manjaro/
manjaro-hello.json
menus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
neofetch/
pamac/
presets/
pulse/
qt5ct/
qt6ct/
ranger/
spicetify/
spotify/
touchegg/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
yay/
fragments/
gnome-control-center/
gthumb/
libreoffice/
libvirt/
onlyoffice/
simple-scan/
yelp/
