* {
    blue: #8aadf4;
    bg-col:  #24273a;
    bg-col-light: #24273a;
    border-col: @blue;
    selected-col: #24273a;
    fg-col: #cad3f5;
    fg-col2: #ed8796;
    grey: #6e738d;
}

@import "_shared"

/* vim: ft=sass
